* {
    font-family: Verdana, Tahoma, Arial, sans-serif;
    font-size: 11px;
}

h2{
    margin-bottom:0px;
}

.host-table{
    padding:0px;
    margin:0px;
}
.host-table th{
    text-align: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
    padding-right: 20px;
}


.host-table td{
    padding-bottom:8px;
}

.host-table td.status,.delete,.servername{
    padding-left:20px;
}
